[submodule "gitmodules/monogame-events"]
	path = gitmodules/monogame-events
	url = https://github.com/joeoneil/monogame-events
[submodule "gitmodules/Devcade-library"]
	path = gitmodules/Devcade-library
	url = https://github.com/ComputerScienceHouse/Devcade-library
