[submodule "monogame-events"]
	path = monogame-events
	url = https://github.com/joeoneil/monogame-events
[submodule "Devcade-library"]
	path = Devcade-library
	url = https://github.com/ComputerScienceHouse/Devcade-library
